.contenu_mdd{
    padding-bottom: 300px;
}
.contenu_ec_ch{
     padding-bottom: 300px;
}
.direction{
    padding-bottom: 900px;
}
.ressou_hum{
    padding-bottom: 300px;
}
.info{
    padding-bottom: 1500px;
}
.comcoop{
    padding-bottom: 0px;
}
.interface{
    padding-bottom: 730px;
}
.biblio{
    padding-bottom: 730px;
}
/*----------------------
--------------------------
------------TETE----------
-------------------------
-------------------------*/
.tete_mdd{
    background-color: #5889d4;
    width: 90%;
    height: 90px;
    margin-bottom: 55px;
    padding: 10px;
    box-shadow: 1px 1px 12px #555; 
}
.tete_mdd h1{
    color: white;
    text-align: left;
    font-family: calibri;
    margin-left: 30px;
}
.tete_mdd p{
    color: white;
    text-align: right;
    margin-right: 50px;
}
/*----------------------
--------------------------
-------esto Droit--------
-------------------------
-------------------------*/
.esto_droit{
    float: right;
    background-color: #9eb7de;
    width: 29%;
    height: auto;
    box-shadow: 1px 1px 9px #555; 
    
}
.esto_droit p{
    padding: 30px;
    color: white;
    text-align: center;
    font-size: 16pt;
    font-family: bold;
    
}
.esto_droit>p>a{
        color: white;
    
}
/*------------------------
--------------------------
--------Mot Direct--------
--------------------------
--------------------------*/
.c_m_d{
    background-color: white;
    width: 64%;
    height: auto;
    padding: 27px;
}
.c_m_d img{
    float: left;
    width: 250px;
    height: 400px;
    margin:30px;
    box-shadow: 1px 1px 9px #555; 
    
}
.c_m_d p{
    color: black;
    font-size: 16pt;
}
.c_m_d p:first-of-type{
    margin-top: 60px;
}
/*-----------------------------------------------
-------------------------------------------------
------------Ecole en Chiffre---------------------
------------------TETE---------------------------
-------------------------------------------------
-------------------------------------------------*/
.ec_ch{
    background-color: #5889d4;
    width: 90%;
    height: 90px;
    margin-bottom: 55px;
    padding: 10px;
    box-shadow: 1px 1px 12px #555; 
}
.ec_ch h1{
    color: white;
    text-align: left;
    font-family:calibri;
     margin-left: 30px;
}
/*------------------
--------------------
-------Debut--------
--------------------
--------------------*/
.contenu_ec{
    background-color: white;
    width: 64%;
    padding: 30px;
}
.contenu_ec p{
    font-size: 16pt;
}
.contenu_ec p:first-of-type{
    margin-bottom: 40px;
}

.contenu_ec p:nth-of-type(2){
    margin-left: 60px;
}
.contenu_ec p:nth-of-type(3){
    margin-top: 40px;
}
.contenu_ec p:last-of-type{
    margin-top: 30px;
    font-family: cursive;
    color: black;
    font-size:20pt;
    text-align: center;
}
/*------------------
--------------------
-----Personnel------
--------------------
--------------------*/
.pers{
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #9eb7de;
    width: 31%;
    height: auto;
    padding: 20px;
}
.pers h2{
    color:white;
    
}
.pers p{
    font-size: 18pt;
}
/*------------------
--------------------
-----Nombre --------
-----Etudiants------
--------------------*/
.num_et{
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    background-color: white;
    width: 30%;
    height: auto;
    padding: 20px;
}
.num_et h2{
    color:#395a8f;
    
}
.num_et p{
    font-size: 18pt;
    margin-left: 30px;
}
/*------------------
--------------------
-----ESTO delivre --
-----actuellement --
--------------------*/
.est_del{
    float: right;
    margin-top: 30px;
    background-color: white;
    width: 25%;
    height: auto;
    padding: 20px;
}

.est_del h2{
    color:#395a8f;
}
.est_del p{
     font-size: 16pt;
    margin-left: 30px;
    font-family: cursive; 
    color:black;
}
/*------------------
--------------------
-----l'Oriental-----
--------------------
--------------------*/
.orien{
    float: right;
    margin-top: 30px;
    background-color: #3d3d3d;
    width: 25%;
    height: auto;
    padding: 20px;
}

.orien h2{
    color:#c8c9c9;
}
.orien p{
     font-size: 16pt;
    margin-left: 30px; 
    color:#c8c9c9;
}
/*------------------
--------------------
-----Frontiere------
--------------------
--------------------*/
.fron{
    float: left;
    margin-top: 20px;
    background-color: #737373;
    width: 66%;
    height: auto;
    padding: 20px;
}

.fron h2{
    color:#ffffff;
    text-align: center;
}
.contenu_fron{
    font-size: 16pt;
    color: #c8c9c9;
} 
/*-----------------------------------------
-------------------------------------------
-------------Direction---------------------
------------------------------------------
-------------------------------------------*/

.tete_direc{
    background-color: #5889d4;
    width: 90%;
    height: 90px;
    margin-bottom: 55px;
    padding: 10px;
    box-shadow: 1px 1px 12px #555; 
}
.tete_direc h1{
    color: white;
    text-align: left;
    font-family:calibri;
     margin-left: 30px;
}

.contenu_direc{
    float: left;
    background-color: white;
    width: 64%;
    padding: 30px;
}
/*--------------------
---------------------
----Directeur--------
----------------------
----------------------*/
.directeur h2{
    color: black;
}
.directeur img{
    float: left;
    width: 25%;
    height: 300px;
    margin-left: 40px;
    margin-top: 30px;
}

.directeur p:first-of-type{
    float: right;
    color: #456ca8;
    font-weight: bold;
    font-style: italic;
    font-size: 15pt;
    margin-top: 400px;
}
.directeur p:last-of-type{
    float: right;
    color: #9c9e9e;
    font-weight: bold;
    font-size: 16pt;
    margin-top: 450px;
    
}
/*--------------------
---------------------
----Directeur--------
------Adjoint-------
----------------------*/
.directeur_ad h2{
    color: black;
    margin-top: 500px;
}
.directeur_ad img{
    float: left;
    width: 50%;
    height: 300px;
    margin-left: 40px;
    margin-top: 30px;
}

.directeur_ad p:first-of-type{
    float: right;
    color: #456ca8;
    font-weight: bold;
    font-style: italic;
    font-size: 15pt;
    margin-top: 400px;
}
.directeur_ad p:last-of-type{
    float: right;
    color: #9c9e9e;
    font-weight: bold;
    font-size: 16pt;
     margin-top: 110px;
    margin-right: 100px;
}
/*--------------------
---------------------
----Secretaire-------
------Gneral---------
----------------------*/
.secr_gen h2{
    color: black;
    margin-top: 500px;
}


.secr_gen p{
    float: right;
    color: #456ca8;
    font-weight: bold;
    font-style: italic;
    font-size: 15pt;
    margin-top: 100px;
}

/*-----------------------------------------
-------------------------------------------
--------CAHIER DES NORMES PEDAGOGIQUES-----
------------------------------------------
-------------------------------------------*/

.tete_c_n_p{
    background-color: #5889d4;
    width: 90%;
    height: 90px;
    margin-bottom: 55px;
    padding: 10px;
    box-shadow: 1px 1px 12px #555; 
}
.tete_c_n_p h1{
    color: white;
    text-align: left;
    font-family:calibri;
     margin-left: 30px;
}
.c_n_p{
    
    float: left;
    background-color: white;
    width: 59%;
    padding: 60px;
}
.c_n_p p{
    font-weight: bold;
    text-align: center;
    font-size: 16pt;
}
.c_n_p p a{
    color: black;
}
/*-----------------------------------------
-------------------------------------------
--------Les Services Administratifs--------
------------------------------------------
-------------------------------------------*/
.tete_serv{
    background-color: #5889d4;
    width: 90%;
    height: 90px;
    margin-bottom: 55px;
    padding: 10px;
    box-shadow: 1px 1px 12px #555; 
}
.tete_serv h1{
    color: white;
    text-align: left;
    font-family:calibri;
     margin-left: 30px;
}
.serv{
    float: left;
    background-color: white;
    width: 59%;
    padding: 40px;
}
.serv h2{
    color: #e37646;
    font-weight: bold;
    
}
.serv p a{
    color: black !important;
    font-size: 15pt;
}
.serv p{
    color: #285292;
    margin-left: 60px;
    margin-top: 30px;
}
/*-----------------------------------------
-------------------------------------------
--------Les Services Administratifs--------
------------Ressources Humaines -----------
-------------------------------------------*/
.tete_s{
    float: left;
    background-color: white;
    width: 60%;
    height: 40px;;
    padding: 20px;
}
.tete_s h2{
    margin-top: 0px;
    margin-left: 30px;
   color: #426baa;
}
.s_r_h1{
    float: left;
    background-color: white;
    width: 59%;
    padding: 20px;
    margin-top: 30px;
}
.s_r_h{
    font-size: 16pt;
}
.s_r_h2{
     float: left;
    background-color: #818489;
    width: 55%;
    padding: 40px;
    margin-top: 30px;
}
.s_r_h3{
    float: left;
    background-color: white;
    width: 59%;
    padding: 20px;
    margin-top: 30px;
}
/*-----------------------------------------
-------------------------------------------
--------Les Services Administratifs--------
------------  Independance ----------------
-------------------------------------------*/
.miss{
    float: left;
    background-color: white;
    width: 57%;
    height: 40px;
    padding: 20px;
    margin-left: 30px;
    margin-top: 20px;
}
.miss h2{
    display:inline;
    margin-top: 0px;
    margin-left: 30px;
   color: black;
}
.miss p{
    display: inline;
}
.con_ind{
    background-color: #818489;
    width: 57%;
    height: auto;
     padding: 10px;
    margin-left: 40px;
    margin-top: 250px;
}
.con_ind h2{
    color: black;
    font-family: cursive;
}
.con_ind p:first-of-type
{
    margin-left: 25px;
}
.con_ind p:last-of-type
{
    margin-left: 50px;
}
.con_ind p
{
   font-size: 16pt; 
}
/*-----------------------------------------
-------------------------------------------
--------Les Services Administratifs--------
------------  Informatique ----------------
-------------------------------------------*/
/*-------------Equipe----------------*/
.equipe{
     float: left;
    background-color: white;
    width: 57%;
    height: auto;
    padding: 20px;
    margin-left: 30px;
    margin-top: 20px;
    
}
.equipe h2{
    color: black;
}
.equipe p{
    margin-left: 40px;
    font-size: 16pt;
    color: #426baa;
    font-family: cursive;
    font-weight: bold;
    
}
/*-------------Intro--------------*/
.intro{
    float: left;
    background-color: white;
    width: 57%;
    height: auto;
    padding: 20px;
    margin-left: 30px;
    margin-top: 20px;
}
.intro p{
    margin-left: 40px;
    font-size: 16pt;
    color: black;
    
}
/*---------Assurer le fonctionnement de l'infrastructure réseau---------*/
.ass_fonc{
    float: left;
    background-color: #9eb7de;
    width: 60%;
    height: auto;
    margin-left: 30px;
    margin-top: 20px;
    
}

.ass_fonc p:first-of-type{
    float: left;
    margin-left: 20px;
    color: white;
    width: 50%;
}
.ass_fonc p:last-of-type{
    float: right;
    margin-top: 90px;
    color: #2c4468;
    width: 40%;
    
}
.ass_fonc h3{
    color: white;
    margin-left: 20px;
}
/*---------    Projets du  Services        ---------*/
.proj_serv{
    float: right;
    width: 29%;
    height: auto;
    background-color:white;
    position: relative;
    margin-top: 17px;
    margin-bottom: 30px;

}
.proj_serv h3{
    padding: 20px;
    background-color: #2c65bc;
    padding-top: 7px;
    margin: 0px;
    height: 40px;
    color: white;
    font-size:18px;
    text-align: center;
    vertical-align: middle;
}
.proj_serv p{
        padding: 20px;
}
.proj_serv p span{
        font-weight: bold;
    color: black;
    font-family: cursive;
}
/*---------    Projets du  Services   2     ---------*/
.proj_serv1{
    float: left;
    width: 100%;
    height: auto;
    background-color:white;
    margin-top: 20px;
    padding: 10px;

}
.proj_serv1 h3{
    color: #2c65bc;
    font-size:18px;
    text-align: center;
    vertical-align: middle;
    font-family: cursive;
}
.proj_serv1 p{
    font-size: 14pt;
}
.proj_serv1 p:first-of-type{
       float: left;
    width: 47%;
    margin-left: 20px;
}
.proj_serv1 p:last-of-type{
        float: right;
    width: 47%;
}
/*---------    Attributions de la division Maintenance     ---------*/
.att_div_m{
    float: left;
    width: 44%;
    height: 560px;
    background-color:white;
    margin-top: 20px;
    padding: 10px;
    margin-left: 30px;

}
.att_div_m h3{
    color: #2c65bc;
    font-size:20px;
    text-align: center;
    vertical-align: middle;
    font-family: cursive;
}
.att_div_m p{
    padding: 20px;
     color: black;
    font-size:15pt;
    margin-left: 30px;
}
/*---------    Attributions de la division Systeme     ---------*/
.att_div_s{
    float: left;
    width: 44%;
    height: 560px;
    background-color:white;
    margin-top: 20px;
    padding: 10px;
    margin-left: 50px;

}
.att_div_s h3{
    color: #2c65bc;
    font-size:20px;
    text-align: center;
    vertical-align: middle;
    font-family: cursive;
}
.att_div_s p{
    padding: 20px;
     color: black;
    font-size:15pt;
    margin-left: 30px;
    width: 80%;
}
/*---------    Service de communication et de coopération  ---------*/
/*  ---------     intro   ----------*/
.com_intro{
    background-color: white;
    width: 65%;
    height: auto;
    padding: 10px;
    margin-top: 180px;
}
.com_intro p{
    font-size: 16pt;
    color: black;
    margin: 30px;
    
}
/*  ---------     Missions et tâches :   ----------*/
.miss_coop{
    background-color: #9eb7de;
    width: 65%;
    height: auto;
    padding: 10px;
    margin-top: 30px;
}
.miss_coop h1{
    margin-left: 40px;
    color: white;
    text-align: left;
    margin-bottom: 30px;
    
}
.miss_coop p{
    font-size: 14pt;
    color: white;
    text-align: left;
    margin: 30px;
    
}
.miss_coop img{
    width: 20px;
    height: 20px;
    
}
/*  ---------------------------------------------
-------------------------------------------------
---------     Interface EST/Entreprises   -------
-------------------------------------------------
-------------------------------------------------*/
.inter{
    background-color: #ffffff;
    width: 65%;
    height: auto;
    padding: 20px;
    margin-top: 150px;
}
.inter p{
    font-size: 16pt;
    padding: 30px;
    display: inline;
    
}
.inter p img{
    width: 24px;
    height: 24px;
}
.inter p:nth-of-type(3){
    margin-left: 40px;
}
.inter p:last-of-type{
    margin-left: 70px;
}
/*-------------- Entreprise ---------------*/
.entre{
    margin-top: 10px;
    float: left;
    width: 68%;
    background-color: #9eb7de;
    border-bottom-style: dashed;
}

.entre  h2{
    color: white;
    
}
.entre span{
    color: black;
}
.entre p{
    margin-left: 20px;
    font-size: 16pt;
    color: white;
}
.entre img{
    height: 24px;
}
/*---------   Visites    ---------*/
.visites{
    float: right;
    width: 29%;
    height: auto;
    background-color:white;
    position: relative;
    margin-top: 17px;
    margin-bottom: 30px;

}
.visites h2{
    padding: 20px;
    background-color: #2c65bc;
    margin: 0px;
    height: 40px;
    color: white;
    text-align: center;
}
.visites p{
    font-size: 14pt;
    padding: 20px;
}
.visites p span{
    color: black;
    font-family: cursive;
    font-weight: bold;
}
/*---------  Suivi des Laureats   ---------*/
.sui_lau{
    background-color: white;
    width: 68%;
    height: auto;
    float: left;
    margin-top: 10px;
}
.sui_lau h2{
    padding: 10px;
    color: #25487e;
    text-align: center;
}
.sui_lau p{
    font-size: 14pt;
    padding: 10px;
}
/*---------  Stages   ---------*/
.stages{
    background-color: white;
    width: 100%;
    height: auto;
    float: left;
    margin-top: 10px;
}
.stages h1{
    padding: 10px;
    color: #25487e;
    text-align: center;
}
.stages p{
    font-size: 16pt;
    padding: 10px;
    padding-left: 50px;
     margin-left: 100px;
}
.stages p:first-of-type{
  margin-left: 30px;
}
.stages span{
    color: #d47247;
}
.stages img{
    width: 26px;
    height: 26px;
}
/*------------------------------------------------------
--------------------------------------------------------
----------------------  Biblio   -----------------------
*-------------------------------------------------------
--------------------------------------------------------*/
/*-----------------    BIB1    -------------------------*/
.bib1{
    background-color: white;
    width: 24%;
    height: auto;
    float: left;
    margin-top: 10px;
    padding: 30px;
    padding-left: 70px;
    padding-right: 30px;
}
.bib1 p{
    font-size: 17pt;
    font-style: italic;
}
.bib1 p a{
    color: #c1653d;
    font-size: 12pt;
    float: right;
}

.image_bib{
    margin-top: 10px;
    width: 28%;
    height: 380px;
    float: left;
}
/*-----------------    BIB2    -------------------------*/
.bib2{
    background-color: white;
    width: 29%;
    margin-right: 10px;
    height: auto;
    float: right;
    margin-top: 10px;
    padding: 10px;
    padding-left: 70px;
    padding-right: 20px;
}
.bib2 p{
    font-size: 17pt;
    font-style: italic;
    width: 250px;
}
/*---------------------- Contact Biblio -------------------*/
.contact_bib{
    float: right;
    width: 29%;
    height: auto;
    background-color:white;
    position: relative;
    margin-top: 36px;
    margin-bottom: 30px;

}
.contact_bib h3{
    padding: 20px;
    background-color: #f48859;
    margin: 0px;
    height: 40px;
    color: white;
    font-size:22px;
    text-align: center;
    vertical-align: middle;
}
.contact_bib img{
    width: 21px;
    height: 21px;
    margin-left: 17px;
    margin-right: 20px;
}
/*-----------------    BIB3    -------------------------*/
.bib3{
    background-color: white;
    width: 62%;
    margin-right: 10px;
    height: auto;
    float: left;
    margin-top: 10px;
    padding: 10px;
    padding-left: 70px;
    padding-right: 20px;
}
.bib3 h2{
    width: 650px;
    float: right;
    display:inline;
    margin-left: 0px;
    color: #2e5897;
}
.bib3 img{
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.bib3 p{
    margin-top: 40px;
    font-size: 17pt;
}