/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
-------------------------------------------FORMATION INITIALE-------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/

.formIni {
   background-color: white;
   width: 65%;
    float:left;
    margin-left: 0px;
    padding-bottom: 20;
    font-family: roboto,sans-serif;
    
}

.formIni h4 {
    display: inline;
    color: black;
    font-weight:bold;
}

.formIni h2{
    color: #e84347;
    margin-left: 4%;
    
}
/*------------------------
-------MANAGEMENT--------
-------------------------*/

.tm {
    margin-left: 15%;
    padding-top: 18px;
    padding-left: 8px;
    line-height: 25px;
    
}

.tm h3{
    color: white;
    background-color: #ff9232;
    margin-left: 18%;
    padding: 7px;
    width: 55%;
    text-align: center;
}

.tm a{
    color: #d27523;
}

.tm div{
   color: #d27523; 
    padding-left: 12%;
}

/*------------------------
-------GENIE INFO--------
-------------------------*/
.gi {
    margin-left: 15%;
    padding-top: 18px;
    padding-left: 8px;
    line-height: 25px;
    
}

.gi h3{
    color: white;
    background-color: #3774c6;
    margin-left: 18%;
    padding: 7px;
    width: 55%;
    text-align: center;
}

.gi a ,.gi span{
    color: #4282d9;
}

.gi div {
   color: #4282d9; 
    padding-left: 12%;
}

/*------------------------
-------GENIE APPLIQUE--------
-------------------------*/
.ga {
    margin-left: 15%;
    padding-top: 18px;
    padding-left: 8px;
    line-height: 25px;
    
}

.ga h3{
    color: white;
    background-color: #6cb129;
    margin-left: 18%;
    padding: 7px;
    width: 55%;
    text-align: center;
}

.ga a ,.ga span{
    color: #5dbb38;
}

.ga div {
   color: #5dbb38; 
    padding-left: 12%;
}
/*------------------------
-------DOSSIER--------
-------------------------*/

.dossier, .formIni {
    display: inline-block;
}
dossierDUT,.dossierLicence{
    display: inline-block;
    
}
.dossier{
    
    width: 25%;
    margin-right: 0px;
    padding-right: 0;
    padding-left: 0;
    margin-left:15px;
}

.dossierDUT {
   background-color: white; 
    padding: 7px;
    font-family: roboto,sans-serif;

    
}

.dossierDUT h3{
    color: #ea743b;
    font-weight: 200;
    text-align: center;
}

.dossierDUT hr{
    
    border:none;
    border-top:1px solid #ea743b;
    width:90%;
}

.dossierDUT ol hr{
 border:none;
  border-top:1px dashed black;
  height:1px;
  width:70%;;
}



.dossierLicence {
   background-color: white;   
    margin-top: 10px;
    padding: 7px;    
    font-family: roboto,sans-serif;
    
}

.dossierLicence h3{
    color: #2c65bc;
    font-weight: 200;
    text-align: center;
}

.dossierLicence ol hr{
 border:none;
  border-top:1px dashed black;
  height:1px;
  width:70%;;
}

.dossierLicence hr{
    
    border:none;
    border-top:1px solid #2c65bc;
    width:90%;
}

/*--------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------
-----------------------------------DUT GI--------------------------------------------
--------------------------------------------------------------------------------------------------------------------*/